.control-panel {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.timer-options {
  display: flex;

  & > * {
    flex-grow: 1;
    margin: .5rem;
  }
}

.bell {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.settings {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
