@import "../../styles/colors";
@import "../../styles/fonts";

.card-container {
  max-height: 600px;
  min-height: 300px;
  @include default-font;
  background-color: $backgroundElementMask;
  display: flex;
  flex-direction: column;
  position: relative;
}
