<div class="control-panel">
  <div class="start-button">
    <button class="control-button prev-button" *ngIf="working" (click)="handleNavClick(false)">
      <
    </button>
    <button class="control-button" [ngClass]="theme" *ngIf="!working" (click)="handleStart();">
      {{'main.controlPanel.start' | translate}}
    </button>
    <button class="control-button" [ngClass]="theme" *ngIf="working" (click)="handleStop()">
      {{'main.controlPanel.stop' | translate}}
    </button>
    <button class="control-button next-button" *ngIf="working" (click)="handleNavClick(true)">
      >
    </button>
  </div>
  <div class="rounds">
    <div class="round-title">
      {{'main.controlPanel.selectRound' | translate}}
    </div>
    <div class="rounds-buttons">
      <ng-container *ngFor="let i of (rounds | numberToList:1)">
        <button class="rounds-button is-selected"
                [ngClass]="theme"
                *ngIf="(currentStep | stepToRound) === i">
          {{i}}
        </button>
        <button class="rounds-button is-not-selected"
                (click)="handleRoundChange(i)"
                *ngIf="(currentStep | stepToRound) !== i">
          {{i}}
        </button>
      </ng-container>
    </div>
  </div>
</div>
