<div class="control-panel" *ngIf="conf != null">
  <div class="start-button">
    <app-button
      class="prev-button"
      *ngIf="conf.working"
      [isSelected]="false"
      [buttonType]="'nav'"
      (isClicked)="handleNavClick(false)"
      [text]="'<'">
    </app-button>
    <app-button
      *ngIf="!conf.working"
      [isSelected]="false"
      [buttonType]="'control'"
      (isClicked)="handleStart()"
      [text]="'main.controlPanel.start'">
    </app-button>
    <app-button
      *ngIf="conf.working"
      [isSelected]="false"
      [buttonType]="'control'"
      (isClicked)="handleStop()"
      [text]="'main.controlPanel.stop'">
    </app-button>
    <app-button
      class="next-button"
      *ngIf="conf.working"
      [isSelected]="false"
      [buttonType]="'nav'"
      (isClicked)="handleNavClick(true)"
      [text]="'>'">
    </app-button>
  </div>
  <div class="rounds">
    <div class="round-title">
      {{'main.controlPanel.selectRound' | translate}}
    </div>
    <div class="rounds-buttons">
      <ng-container *ngFor="let i of (conf.rounds | numberToList:1)">
        <app-button
          (isClicked)="handleRoundChange(i)"
          [text]="i + ''"
          [isSelected]="(conf.currentStep | stepToRound) === i"
          [buttonType]="'round'">
        </app-button>
      </ng-container>
    </div>
  </div>
</div>
