$background: #b32f2f;
$backgroundElementMask: rgba(255, 255, 255, 0.1);
$backgroundButtonMask: rgba(0, 0, 0, 0.15);
$secondaryColor: #fff;
$textColor: #fff;
$borderColor: #978888;

$workBackground: $background;
$shortBreakBackground: rgb(60, 101, 150);
$longBreakBackground: #4d6c63;
$settingsTheme: #70650a;

$invalidInputBorder: #ff000052;

$whiteIconFilter: invert(95%) sepia(100%) saturate(20%) hue-rotate(1deg) brightness(105%) contrast(106%);

@mixin theme {
  &.work {
    background-color: $workBackground;
  }
  &.shortBreak {
    background-color: $shortBreakBackground;
  }
  &.longBreak {
    background-color: $longBreakBackground;
  }
  &.settings {
    background-color: $settingsTheme;
  }
}

@mixin colorTheme {
  &.work {
    color: $workBackground;
  }
  &.shortBreak {
    color: $shortBreakBackground;
  }
  &.longBreak {
    color: $longBreakBackground;
  }
  &.settings {
    color: $settingsTheme;
  }
}
