<div class="card-container">
  <div class="timer-options">
    <app-button
      [text]="'main.options.work'"
      (isClicked)="handleOptionChange('work')"
      [isSelected]="selectedOption === 'work'">
    </app-button>
    <app-button
      [text]="'main.options.shortBreak'"
      (isClicked)="handleOptionChange('shortBreak')"
      [isSelected]="selectedOption === 'shortBreak'">
    </app-button>
    <app-button
      [text]="'main.options.longBreak'"
      (isClicked)="handleOptionChange('longBreak')"
      [isSelected]="selectedOption === 'longBreak'">
    </app-button>
  </div>
  <div class="timer">
    <app-timer [seconds]="seconds"></app-timer>
  </div>
  <div class="control-panel">
    <app-control-panel
      [theme]="selectedOption"
      (onStart)="handleWorkingButton(true)"
      (onStop)="handleWorkingButton(false)"
      (onNavClick)="handleNavClick($event)"
      (onRoundChange)="handleRoundChange($event)"
      [rounds]="rounds"
      [currentStep]="step"
      [working]="working">
    </app-control-panel>
  </div>
  <div class="footer">
    <app-footer [currentOption]="selectedOption" [step]="step"></app-footer>
  </div>
</div>
