@import "../../shared/styles/colors";
@import "../../shared/styles/fonts";

.card-container {
  max-height: 600px;
  @include default-font;
  background-color: $backgroundElementMask;
  display: flex;
  flex-direction: column;
  position: relative;

  .control-panel {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .timer-options {
    display: flex;

    & > * {
      flex-grow: 1;
      margin: .5rem;
    }
  }

  .bell {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
}
