@import "../../shared/styles/colors";
@import "../../shared/styles/fonts";

.card-container {
  max-height: 600px;
  @include default-font;
  background-color: $backgroundElementMask;
  display: flex;

  & > * {
    flex-grow: 1;
    margin: .5rem;
  }
}
